<html>
    <head>
	<title>Шахматы</title>
	</head>
<body bgcolor = "blue">
<div align = "center"><big><big><big>Шахматы</big></big></big></div>
     <table border = "1" align = "center" cellspacing = "0" cellpadding = "0">
	 <tr align = "center">
	     <td width = "5" height = "10">&nbsp;</td>
		 <td width = "70" height = "10">a</td>
		 <td width = "70" height = "10">b</td>
		 <td width = "70" height = "10">c</td>
		 <td width = "70" height = "10">d</td>
		 <td width = "70" height = "10">e</td>
		 <td width = "70" height = "10">f</td>
		 <td width = "70" height = "10">g</td>
		 <td width = "70" height = "10">h</td>
	 </tr>
	 <tr valign = "middle" align = "center">
	     <td width = "5" height = "70">8</td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "black_castle.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_bishop.png"></td>
         <td width = "70" height = "70" bgcolor = "grey"><img src = "black_rook.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_king.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "black_queen.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_rook.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "black_bishop.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_castle.png"></td>
     </tr>
	 <tr valign = "middle" align = "center">
	     <td width = "5" height = "70">7</td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_pawn.png"></td>
         <td width = "70" height = "70" bgcolor = "grey"><img src = "black_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "black_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "black_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "black_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "black_pawn.png"></td>
     </tr>
	 <tr valign = "middle" align = "center">
	     <td width = "5" height = "70">6</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
         <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
	</tr>
	<tr valign = "middle" align = "center">
	     <td width = "5" height = "70">5</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
         <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
	</tr>
	<tr valign = "middle" align = "center">
	     <td width = "5" height = "70">4</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
         <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
	</tr>
	<tr valign = "middle" align = "center">
	     <td width = "5" height = "70">3</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
         <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "white">&nbsp;</td>
		 <td width = "70" height = "70" bgcolor = "grey">&nbsp;</td>
	</tr>
	<tr valign = "middle" align = "center">
	     <td width = "5" height = "70">2</td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_pawn.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_pawn.png"></td>
	</tr>
	<tr valign = "middle" align = "center">
	     <td width = "5" height = "70">1</td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_castle.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_bishop.png"></td>
         <td width = "70" height = "70" bgcolor = "white"><img src = "white_rook.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_queen.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_king.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_rook.png"></td>
		 <td width = "70" height = "70" bgcolor = "white"><img src = "white_bishop.png"></td>
		 <td width = "70" height = "70" bgcolor = "grey"><img src = "white_castle.png"></td>
     </tr>
	 </table>
	   </body>
	   </html>