<html>
<head>

   <title>визитка</title>

</head>
<body>

<img style="width: 350px; height: 263px;" src="web1.jpg" align = "left">


<font size = "+6" color = "blue"><b>Жуков Станислав</b></font>
<p><font size = "+6" color = "blue"><b>[шк. 1543]</b></font></p>
<p> </p>
<p> </p>
<hr></hr>
<font size = "+2"><b>Контактная информация:</b></font>
<pre><div>Телефон  000
Email   blablabla@yandex.ru
Вк   blablabla</div></pre>
</body>
</html>